# Node.js
node_modules/

# Build files
/build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
logs/

# Dependency lock files
package-lock.json
yarn.lock

# Database files
/database/*.sql

# Compiled files
/client/build/
/server/dist/

# Miscellaneous
.DS_Store
